Repository OCA/mis-builder, pull requests merged in 2021-04, with the labels that each got.

#347 [13.0][FIX] mis_builder_budget: incorrect budget by account multi company rules.
  mis_builder_budget/readme/newsfragments/347.bugfix
  mis_builder_budget/security/mis_budget_by_account.xml
  mis_builder_budget/security/mis_budget_by_account_item.xml
Labels: approved, bot is merging ⏳, ready to merge

#325 [14.0] migration
  .pre-commit-config.yaml
  mis_builder/__manifest__.py
  mis_builder/models/aep.py
  mis_builder/models/mis_report.py
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/newsfragments/320.feature
  mis_builder/report/mis_report_instance_qweb.py
  mis_builder/security/ir.model.access.csv
  mis_builder/static/src/js/mis_report_widget.js
  mis_builder/tests/test_aep.py
  mis_builder/tests/test_analytic_filters.py
  mis_builder/tests/test_data_sources.py
  mis_builder/tests/test_kpi_data.py
  mis_builder/tests/test_mis_report_instance.py
  mis_builder/tests/test_multi_company_aep.py
  mis_builder/tests/test_render.py
  mis_builder/views/mis_report_instance.xml
  mis_builder_budget/__manifest__.py
  mis_builder_budget/models/mis_budget_abstract.py
  mis_builder_budget/models/mis_report_instance_period.py
  mis_builder_budget/readme/newsfragments/347.bugfix
  mis_builder_budget/security/mis_budget_by_account.xml
  mis_builder_budget/security/mis_budget_by_account_item.xml
  mis_builder_demo/__manifest__.py
  mis_builder_demo/models/mis_committed_purchase.sql
  setup/mis_builder/odoo/addons/mis_builder
  setup/mis_builder/setup.py
  setup/mis_builder_budget/odoo/addons/mis_builder_budget
  setup/mis_builder_budget/setup.py
  setup/mis_builder_demo/odoo/addons/mis_builder_demo
  setup/mis_builder_demo/setup.py
Labels: 14.0, bot is merging ⏳

#343 [13.0][FIX] mis_builder: copying reports with comparison columns.
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/newsfragments/343.bugfix
Labels: 13.0, bot is merging ⏳, bugfix

#350 [10.0][FIX] Use account_model to get drill down name
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/HISTORY.rst
  mis_builder/readme/newsfragments/350.bugfix
Labels: bot is merging ⏳, bugfix

#355 [14.0][PORT] 343 from 13.0
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/newsfragments/343.bugfix
Labels: bot is merging ⏳, bugfix

#356 [11.0][PORT] 350 from 10.0
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/HISTORY.rst
  mis_builder/readme/newsfragments/350.bugfix
Labels: bot is merging ⏳, bugfix

#357 [12.0][PORT] 350 from 10.0
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/HISTORY.rst
  mis_builder/readme/newsfragments/350.bugfix
Labels: bot is merging ⏳, bugfix

#358 [13.0][PORT] 350 from 10.0
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/HISTORY.rst
  mis_builder/readme/newsfragments/350.bugfix
Labels: bot is merging ⏳, bugfix

#359 [14.0][PORT] 350 from 10.0
  mis_builder/models/mis_report_instance.py
  mis_builder/readme/HISTORY.rst
  mis_builder/readme/newsfragments/350.bugfix
Labels: bot is merging ⏳, bugfix
