Repository OCA/mis-builder, pull requests merged in 2024-12, with the labels that each got.

#630 [IMP] mis_builder_budget: allow to specify a company on budget by kpi
  mis_builder_budget/models/mis_budget_item.py
  mis_builder_budget/models/mis_report_instance_period.py
  mis_builder_budget/security/mis_budget_item.xml
  mis_builder_budget/tests/test_mis_budget.py
  mis_builder_budget/views/mis_budget_item.xml
Labels: approved, ready to merge, bot is merging ⏳, Needs PORT

#584 [16.0] Custom fields in accounting expressions (e.g. `fldp.quantity`, `fld.carbon_balance`)
  docs/usage.rst
  mis_builder/models/aep.py
  mis_builder/models/aggregate.py
  mis_builder/tests/test_aep.py
  mis_builder/views/mis_report.xml
Labels: bot is merging ⏳, no stale, 16.0, Needs PORT

#662 [16.0][FIX] mis_builder: ensure ci
  mis_builder/tests/test_data_sources.py
Labels: bot is merging ⏳

#663 [17.0][FIX] mis_builder: ensure ci
  mis_builder/tests/test_data_sources.py
Labels: Needs PORT

#656 [17.0][IMP] mis_builder: enforce unique style name
  mis_builder/models/mis_report_style.py
Labels: bot is merging ⏳, 17.0, Needs PORT

#657 [17.0][PORT] 655 from 16.0
  mis_builder_budget/models/mis_budget.py
  mis_builder_budget/models/mis_budget_by_account.py
  mis_builder_budget/views/mis_budget.xml
  mis_builder_budget/views/mis_budget_by_account.xml
Labels: bot is merging ⏳, 17.0, Needs PORT

#658 [17.0][PORT] 584 from 16.0
  docs/usage.rst
  mis_builder/models/aep.py
  mis_builder/models/aggregate.py
  mis_builder/tests/test_aep.py
  mis_builder/views/mis_report.xml
Labels: bot is merging ⏳, 17.0, Needs PORT

#659 [17.0][PORT] 630 from 16.0
  mis_builder_budget/models/mis_budget_item.py
  mis_builder_budget/models/mis_report_instance_period.py
  mis_builder_budget/security/mis_budget_item.xml
  mis_builder_budget/tests/test_mis_budget.py
  mis_builder_budget/views/mis_budget_item.xml
Labels: bot is merging ⏳, 17.0, Needs PORT

#664 [16.0][PORT] 656 from 17.0
  mis_builder/models/mis_report_style.py
Labels: bot is merging ⏳, 16.0
