Repository OCA/mis-builder, pull requests merged in 2025-05, with the labels that each got.

#678 [16][IMP] mis_builder: improve ui by adding button to resize report instance
  mis_builder/models/mis_report_instance.py
  mis_builder/static/src/components/mis_report_widget.css
  mis_builder/static/src/components/mis_report_widget.esm.js
  mis_builder/static/src/components/mis_report_widget.xml
  mis_builder/views/mis_report_instance.xml
Labels: approved, ready to merge, bot is merging ⏳, Needs PORT

#683 [17.0][IMP] mis_builder: Avoid error if a user does not have the Administration/Settings permission
  mis_builder/models/mis_report_instance.py
Labels: approved, Needs PORT

#684 [16.0][IMP] mis_builder: remove py3.10-style type hints
  mis_builder/models/kpimatrix.py
Labels: bot is merging ⏳
